.alert-error, .errorlist {
    color: #8B0000;
    font-style: italic;
}

.alert-success {
    color: #228B22;
    font-style: italic;
}

.custom-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

 .author-description {
    background-color: black;
    color: white;
  }

.quote {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
}
.quote .text {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 10px;
}
.quote .author {
    font-size: 16px;
    font-weight: bold;
}

main.container {
    margin-top: 20px;
}

.card-text {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #555;
  background-color: transparent;
  border: none;
}

.dark-box {
  background-color: #f2f2f2;
  color: #fff;
}
